!!!
%html
  %head
    %title UploadService
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/partial/main_menu'
    .container
      = render partial: 'layouts/partial/flash'
      = yield